  <h3>First Name: <%= @contact.first_name %></h3>
  <h3>Middle Name: <%= @contact.middle_name %></h3>
  <h3>Last Name: <%= @contact.last_name %></h3>
  <h4>Email: <%= @contact.email %></h4>
  <h4>Phone Number: <%= @contact.phone_number %></h4>
  <h4>Groups: <%= @contact.group_names %></h4>
  <h4>Bio: <%= @contact.bio %></h4>
  <h4>Latitude: <%= @contact.latitude %></h4>
  <h4>Longitude: <%= @contact.longitude %></h4>
  
    <a href="/contacts/<%= @contact.id %>/edit">Edit</a>
  <a href="/contacts/<%= @contact.id %>" data-method="delete">Delete</a>
